<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>

    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="blog">Blog</a></li>
      </ul>
    </div>

    <h1>This is a blog</h1>

    <form id="form" action="" method="post">
      <span id="label">Name: </span><input type="text" name="name" value="">
      <br>
      <span id="label">Comment: </span><input type="text" name="comment" value="">
      <br>
      <input type="submit" value="Submit" name="blog">
    </form>

    <div>
      {% for post in posts %}
        <div id="post" class="col-sm-9">
          <b>{{ post.name }}</b>
          <br>
          {{post.date}}
          <hr>
          <span>{{post.comment}}</span>
          <form action="{{post.date}}" method="post">
            <input value="like" id="img" type="image" src="/static/like.png"/>
          </form>
          <span id="likes">{{post.likes}}</span>
        </div>
      {% endfor %}
    </div>

  </body>
</html>
